
/* fonts here  */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

/* Icons Css -- Add it in a seperate file, please */
@font-face {
    font-family: "backshop";
    src: url("~@/assets/fonts/backshop.eot");
    src: url("~@/assets/fonts/backshop.eot?#iefix") format("embedded-opentype"),
      url("~@/assets/fonts/backshop.woff") format("woff"),
      url("~@/assets/fonts/backshop.ttf") format("truetype"),
      url("~@/assets/fonts/backshop.svg#backshop") format("svg");
    font-weight: normal;
    font-style: normal;
  }

[data-icon]:before {
  font-family: "backshop" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "backshop" !important;
  font-size: 18px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\61";
}
.icon-user:before {
  content: "\62";
}
.icon-trash:before {
  content: "\63";
}
.icon-tag:before {
  content: "\64";
}
.icon-pen:before {
  content: "\65";
}
.icon-search:before {
  content: "\66";
}
.icon-photo:before {
  content: "\67";
}
.icon-settings:before {
  content: "\68";
}
.icon-shop:before {
  content: "\69";
}
.icon-stack:before {
  content: "\6a";
}
.icon-mail:before {
  content: "\6b";
}
.icon-lock:before {
  content: "\6c";
}
.icon-calendar:before {
  content: "\6d";
}
.icon-camera:before {
  content: "\6e";
}
.icon-clip:before {
  content: "\6f";
}
.icon-note:before {
  content: "\70";
}
.icon-truck:before {
  content: "\71";
}
.icon-paperplane:before {
  content: "\72";
}
.icon-params:before {
  content: "\73";
}
.icon-handle:before {
  content: "\74";
}
.icon-cloud:before {
  content: "\75";
}
.icon-data:before {
  content: "\76";
}
.icon-lab:before {
  content: "\77";
}