@import "./fonts.scss";

@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(blue, A200), // The primary color of your application
  accent: md-get-palette-color(red, A200), // The accent or secondary color
));

@import "~vue-material/dist/theme/all"; // Apply the theme
.md-toolbar.md-theme-default {
  background-color: #fff;
}
.md-app-content {
  border-left: 0;
  border-right: 0;
}
.md-drawer {
  border-right:1px solid #ccc;
}
.md-snackbar.md-theme-default {
  background-color:rgb(39, 175, 96);
}