<template>
  <md-app>
    <md-app-toolbar md-elevation="0" style="justify-content: flex-end; background-color: #fff">
       <md-button class="md-primary md-raised" @click="reOrder()">Return to original order</md-button>
      <md-button class="md-accent md-raised" @click="sendToApi()">Save & Sync with API</md-button>
    </md-app-toolbar>
    <md-app-drawer md-permanent="full">
      <md-toolbar  md-elevation="0">
      <h2>BackShop</h2>
      </md-toolbar>

      <md-list>
      <md-list-item to="/" exact>
        <md-icon class="icon-shop"></md-icon>
        <span class="md-list-item-text">Products</span>
      </md-list-item>
      <md-list-item @click="newProduct()" exact>
        <md-icon class="icon-paperplane" />
        <span class="md-list-item-text">Add Product</span>
      </md-list-item>
      <md-list-item @click="setInitial()" exact>
        <md-icon class="icon-lab" />
        <span class="md-list-item-text">Populate it</span>
      </md-list-item>
      </md-list>
    </md-app-drawer>
    <md-app-content>
      <router-view />
    </md-app-content>
  </md-app>
</template>

<script>
  import { bus } from '@/main.js'
  import  { populator }  from '@/utils';
  import { mapActions } from 'vuex';
  export default {
    name: 'Dashboard',
    methods: {
      newProduct() {
        bus.$emit('newProduct', true);
      },
      ...mapActions(['createInitial', 'updateDB']),
      setInitial() {
        this.createInitial(populator())
      },
      reOrder() {
        bus.$emit('reorder', true)
      },
      sendToApi() {
        this.updateDB()
      }
      
    }
  }
</script>

<style lang="scss">

.md-list-item{
.active {
  background-color: rgb(234, 228, 252);
  color: blue !important;
  .md-icon-font {
    color: blue !important;
  }
}
} 
  .md-table + .md-table {
    margin-top: 16px;
  }
  table {
        background-color: #fff !important;
  }
</style>
