<template>

  <md-dialog  :md-click-outside-to-close="false" :md-active.sync="showDialog">
    <md-dialog-title style="min-width: 400px;"
      v-text="crudcrudInvalid ? 'CrudCrud APi must have expired .. add a new': 'Add Here a crudcrud endpoint ...'" />
    <div style="padding: 1.5rem">
      <md-field>
        <label>CrudCrud Url</label>
        <md-input v-model="crudcrud"></md-input>
      </md-field>
      <p class="md-subheading">Here's a easy link: </p><a href="https://crudcrud.com/" target="_blank">https://crudcrud.com/</a>
    </div>
    <md-dialog-actions>
      <md-button class="md-primary" @click="createCrud(crudcrud)">Save in Local Storage</md-button>
    </md-dialog-actions>
  </md-dialog>

</template>

<script>
/* import { bus } from '@/main.js' */
export default {
  name: 'CrudModal',
  data: () => ({
    crudcrud: '',
    storedValue: JSON.parse(window.localStorage.getItem('crudcrud')),
    showDialog: false,
    isDatabaseEmpty: true,
    crudcrudInvalid: false
  }),
  created() {
    if(!this.storedValue) {
      this.showDialog = true
    }
    if (!this.$store.state.database || this.$store.state.database.length == 0) {
      const database = [{ products: [] }]
      this.$store.commit('setStateDB', database)
      this.isDatabaseEmpty = true
    }
    this.$store.subscribe((mutation) => {
      if(mutation.type === 'commitError') {
        this.crudcrudInvalid = true;
        this.showDialog = true;
      }
    })
  },
  methods: {
    createCrud(crudkey){
      if(crudkey != '') {
        window.localStorage.setItem('crudcrud', JSON.stringify(crudkey));
        this.$store.dispatch('createDB', crudkey)
        this.showDialog = false
      }
    }
  }
}
</script>