<template>

  <md-dialog :md-active.sync="showDialog">
    <md-dialog-title>Preferences</md-dialog-title>
    <md-divider></md-divider>
    <md-dialog-content style="background-color: #f5f5f5; padding: 24px 24px;">
      <ProductCard ref="product" :editProduct="edit" />
    </md-dialog-content>
    <md-divider></md-divider>
    <md-dialog-actions>
      <md-button class="md-primary" @click="closeModal()">Close</md-button>
      <md-button class="md-primary" @click="saveProduct()">Save</md-button>
    </md-dialog-actions>
  </md-dialog>

</template>

<script>
import { bus } from '@/main.js'
import ProductCard from './ProductCard'
export default {
  name: 'ProductModal',
  components: {
    ProductCard
  },
  data: () => ({
    showDialog: false,
    edit: false,
  }),
  methods: {
    saveProduct() {
      const child = this.$refs.product;
      child.saveProduct();
      bus.$emit('pleaseUpdateList', true);
    },
    closeModal() {
      this.showDialog = false;
      bus.$emit('pleaseUpdateList', true);
    }
  },
  created (){
    bus.$on('editProduct', (data) => {
      this.showDialog = data;
      this.edit = true
      }),
    bus.$on('newProduct', (data) => {
      this.showDialog = data;
      this.edit = false
      })
    }
}
</script>