<template>
  <div>
    <div v-if="productList">
      <ul class="list-group">
        <li style="text-align:left; justify-content: space-between;" class="list-group-item flex"  >
            <div class="handle"></div>
            <div class="title">Title</div>
            <div class="avatar" >Avatar</div>
            <div class="color flex">Color</div>
            <div class="labels flex">Labels</div>
            <div class="price">Price</div>
            <div class="actions">Edit</div>
        </li>
      </ul>
      <draggable
        class="list-group"
        v-model="productList"
        v-bind="dragOptions"
        handle=".handle"
        tag="ul">
        <transition-group type="transition" name="flip-list">
          <li style="text-align:left; justify-content: space-between;" class="list-group-item flex"  v-for="(item) in productList" :key="item.order" >

            <div class="handle"> <md-icon class="icon-handle" /> </div>
            <div class="title">{{ item.title }}</div>
            <div class="avatar" ><Avatars :avatarSelected="item.avatar" :small="true"/></div>
            <div class="color flex">
              <div class="small-colors" v-for="(color, i) in item.color" :key="i" :style="'background-color:'+color" />
            </div>
            <div class="labels flex">
              <div class="label" v-for="(item, i) in item.labels" :key="i">
                <span>{{item}}</span>
              </div>
            </div>
            <div class="price">{{ item.price }}</div>
            <div class="actions">
              <md-button @click='editProduct(item)' class="md-icon-button">
                <md-icon class="icon-pen" />
              </md-button>
              <md-button @click='deleteProduct(item)' class="md-icon-button">
                <md-icon class="icon-trash" />
              </md-button>
            </div>

          </li>
        </transition-group>
      </draggable>
    </div>
    <CrudModal />
    <ProductModal v-on="pleaseUpdateList=updateList()"/>

    <md-snackbar md-position="center" :md-duration="3000" :md-active.sync="showSnackbar" md-persistent>
      <span v-if="isSaved">Products where saved ...</span>
      <span v-else>Product List has changed ... Remember to save to The API!</span>
    </md-snackbar>
  </div>
</template>

<script>
  import { bus } from '@/main.js'
  import ProductModal from './ProductModal';
  import CrudModal from './CrudModal';
  import Avatars from './elements/Avatars';
  import draggable from "vuedraggable";

  export default {
    name: 'ProductList',
    components: {
      ProductModal,
      CrudModal,
      Avatars,
      draggable
    },
    data() {
      return {
        modal: false,
        loading: false,
        productList: [{ title: "first", order: 0 }],
        localDB: '',
        remoteDBid:  JSON.parse(window.localStorage.getItem('database')),
        showSnackbar: false,
        isSaved: false
        }
    },
    mounted() {
     if(this.crudcrud){this.crudStored = true}
     if(this.database) { this.productList = this.database[0].products }
    },
    methods: {
      editProduct(item){
        this.$store.commit('setSingleProduct',item)
        this.$store.commit('setStateDB', this.database)
        this.modal = "changed header";
        bus.$emit('editProduct', true);
      },
      deleteProduct(item) {
        let newArr = this.database[0].products
        newArr.map((product, index) => { 
          if(item.Uid === product.Uid){  
            item = index } 
          }) 
          newArr.splice(item, 1);
      },
      updateList(){
        bus.$on('pleaseUpdateList', (data) => {
          if(data && this.database) { 
            this.productList = this.database[0].products
          }
        })
      }
    },
    computed: {
      database: {
        get() {
          const database =  this.$store.state.database
          if(database) {
            database[0].products.map((item, index) => { item.order = index }) // initial order
            return database
          } else {
            return false
          }
        },
        set( newVal) {
          this.$store.state.database = newVal
          this.productList = newVal[0].products
          return newVal
        }
      },
      dragOptions() {
        return {
          animation: 1,
          disabled: false,
          ghostClass: "ghost"
        };
      }
    },
    created() {
      bus.$on('reorder', (data) => {
        if(data){ this.productList = this.productList.sort((a, b) => a.order - b.order); }
      })
      this.$store.subscribe((mutation) => {
        if(mutation.type === 'setStateDB') {
         mutation.payload[0].products.map((item, index) => { item.order = index }) 
         this.database = mutation.payload
        }
        if(mutation.type === 'commitSuccess') {
          this.showSnackbar = true
          this.isSaved = true
        }
      })
    },
    watch: {
      productList(products) {
        this.showSnackbar = true
        this.isSaved = false
        this.$store.commit('setProductsOrder', products)
      }
    }
  }
</script>

<style lang="scss">
.md-table + .md-table {
  margin-top: 16px;
}
table {
  background-color: #fff !important;
}
.small-colors {
  margin-right: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.button {
margin-top: 35px;
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.list-group {
  margin:0;
  padding: 0rem 1rem 1rem;;
  list-style: none;
  background-color: #fff;
  li {
    border-bottom: 1px solid #ddd;
    > div {
    display: flex;
    flex: auto;
    align-items: center;
    }
  }
  .handle { max-width: 30px; }
  .title { max-width: 200px; padding-left: 1rem; }
  .avatar { max-width: 50px; }
  .color {  max-width: 150px; padding-left: 1rem; }
 /*  .labels { max-width: 200px; } */
  .price { max-width: 50px; }
  .actions { max-width: 100px; justify-content: center;}
}
.list-group-item {
  min-height: 55px;
}
.items-center {
  align-items: center;
}
</style>
