<template>
  <md-card class="md-elevation-0">
    <md-card-content style="background-color: #f5f5f5;">
      <div v-if="product.created" class="md-caption" style="margin-bottom: 10px;">
        <md-icon class="icon-calendar" style="margin-right: 8px; " />
        <span>created in :</span><span v-text="product.created" />
      </div> 
      <div class="md-layout">
        <div class="md-layout-item">
          <md-card class="mug-card">
            <md-card-media class="mug-holder" md-small>
              <div class="mug ">
                <Avatars v-on:avatarCreated="selectedAvatar" v-on:avatarUrlCreated="saveAvatarUrl" :avatarSelected="product.avatar" ref="avatar" />
                <ImageMask :fill="selectedColor"/>
                <img src='~@/assets/imgs/mug.png'/>
              </div>
            </md-card-media>
            <md-card-actions style="justify-content: center;">
              <md-button style="margin-bottom: 2rem;" class="md-raised md-accent" @click="newAvatar">Generate Avatar</md-button>
            </md-card-actions>
          </md-card>
        </div>
        <div class="md-layout-item">
          <div  class="md-layout md-gutter">
            <div class="md-layout-item md-size-66">
              <md-field :class="isInvalid.title ? 'md-invalid' : ''" >
                  <label for="first-name">Product Name</label>
                  <md-input v-model="product.title" />
                  <span v-if="!product.title" class="md-error" >Please add a nice Title</span>
              </md-field>
            </div>
            <div class="md-layout-item md-size-33">
              <md-field :class="isInvalid.price ? 'md-invalid' : ''">
                  <label for="price">Price</label>
                  <md-input name="price" id="price" type="number" v-model="product.price" />
                  <span v-if="!product.price" class="md-error" >..and a price</span>
              </md-field>
            </div>
            <div class="md-layout-item ">
              <md-card style="background-color: #f5f5f5;" class="md-elevation-0">
                <div class="md-layout md-gutter">
                  <div class="flex flex-wrap" style="text-align: left; max-width: 160px;">
                    <v-swatches shapes="circles" v-model="selectedColor">
                      <md-button slot="trigger" >
                        <md-icon class="icon-pen" /> Add Color
                      </md-button>
                    </v-swatches>
                    <md-button v-if="product.color && product.color.length > 0" @click="removeColor()">
                      <md-icon class="icon-trash" /> Remove Color
                    </md-button>
                  </div>
                  <div class="flex" style="flex: auto; text-align: left; padding-right: 20px; padding-left: 20px;">
                    <md-field :class="isInvalid.color ? 'md-invalid' : ''">
                      <label style="top: 0">Available Colors:</label>
                      <span v-if="product.color.length == 0" class="md-error" >some colors now ...</span>
                      <div class="flex flex-wrap colors">
                        <div v-if="product.color.length == 0" class="color-circle" 
                          style="background-color: #ddd"
                          />
                        <div v-else class="color-circle" 
                          v-for="(color, i) in product.color" 
                          :key="i"
                          :style="'background-color: ' + color"
                          @click="newSelectedColor(color)"
                          />
                      </div>
                    </md-field>
                  </div>
                </div>
                <div class="md-layout-item md-size-small-100 " style="text-align: left;">
                  <div class="md-layout-item" style="text-align:left;">
                    <md-field >
                      <label for="first-name">Tags</label>
                      <md-input @keyup.enter="addLabel" name="first-name" id="first-name" v-model="newLabel" />
                      <md-button @click="addLabel" class="md-dense md-primary">
                        <md-icon class="icon-tag" /> Add Label
                      </md-button>
                    </md-field>
                    <div class="label" v-for="(item, i) in product.labels" :key="i">
                      <md-icon class="icon-tag" /><span>{{item}}</span>
                    </div>
                  </div>
                </div>
              </md-card>
            </div>
          </div>
        </div>
      </div>
    </md-card-content>
    <md-snackbar md-position="center" :md-duration="Infinity" :md-active="loading" md-persistent>
        <span v-show="!loading">Product Saved!</span>
        <md-button >See All Products</md-button>
    </md-snackbar>
  </md-card>
</template>

<script>
import Avatars from './elements/Avatars'
import ImageMask from './elements/ImageMask';
import VSwatches from 'vue-swatches'
import "vue-swatches/dist/vue-swatches.css"
export default {
  name: 'ProductCard',
    components: {
        Avatars,
        ImageMask,
        VSwatches
    },
    props: ['editProduct'],
    data () {
      return {
      selectedColor: '#1CA085',
      newLabel: '',
      productID: '',
      saving: false,
      loading: false,
      order: 0,
      isInvalid: {
        title: false,
        price: false,
        color: false
      },
      enableEdit: this.editProduct,
      }
    },
    methods: {
      addColor(){
        if(this.product.color && !this.product.color.includes(this.selectedColor)){
          this.product.color.push(this.selectedColor);
        }
      },
      removeColor(){ // maybe a computed ..
        const lessColors = this.product.color.filter(e => e !== this.selectedColor)
        this.product.color = lessColors
      },
      newSelectedColor(color){
        this.selectedColor = color
      },
      newAvatar(){
        const child = this.$refs.avatar; // should i use emit bus ?
        child.generateAvatar();
      },
      selectedAvatar(val) {
        this.product.avatar = val
      },
      saveAvatarUrl(avatarUrl) {
        this.product.avatarUrl = avatarUrl
      },
      addLabel(){
        if (this.newLabel != ""){
        this.product.labels.push(this.newLabel)
        }
        this.newLabel = "" // clears the input
      },
      saveProduct() {
        const today = new Date();
        this.product.created = today.toLocaleString() // a lot to be said about dates & timezones ...
        if(!this.product.Uid) { this.product.Uid = Date.now().toString() }
        // form validations first, simple one's  ... created date has been added ...
        Object.entries(this.product).forEach(([key, value]) => {
          if (key == 'title' || key == 'price' ) {
            !value ? this.isInvalid[key] = true : this.isInvalid[key] = false
          }
          if ( key == 'color' ) { 
            value.length == 0 ? this.isInvalid[key] = true : this.isInvalid[key] = false
          }
        });
        if (this.isInvalid.title == false && this.isInvalid.price == false && this.isInvalid.color == false) {
            if(this.$store.state.database && this.enableEdit) {
              this.$store.state.database[0].products.forEach((item, i)=> { 
                if (item.Uid == this.product.Uid) {
                  this.$store.state.database[0].products[i] = this.product;
                  }
               });
            } else {
              if(!this.$store.state.database){
                const newitems = { products: [] }
                this.$store.state.database.push(newitems)
                this.product.order = this.order
              } else {
                this.product.order = this.$store.state.database[0].products.length + 2
                this.$store.state.database[0].products.push(this.product)
              }

            }
            this.$store.state.product = this.product
            this.$store.commit('setStateDB', this.$store.state.database)
            this.enableEdit = true // after is 1st saved
        }
      }
    },
    computed: { 
      product: {
        get: function(){
          if(this.enableEdit){
            return this.$store.state.product
          } else {
            return  {
              title: null, price: null, color: [], date: null, labels: [], avatar: null,
            }
          }
        }
      }
    },
    watch: {
      selectedColor:  function () {
        this.addColor()
      },
      loading(newVal, oldVal) {
        if(newVal != oldVal) {
          this.loading = this.$store.state.loading
        }
      }
    }
}
</script>

<style lang="scss">
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.default-color {
  background-color: #ccc;
  &:after {
    content: " ";
    height: 100%;
    width: 50px;
  }
}
.colors {
  margin: 10px 0;
  .color-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
  }
}
.mug-card {
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.mug-holder {
  width: 400px;
  min-height: 350px;
  margin: auto;
  display: flex;
}
.mug {
    position: relative;
    margin: auto;
    width: 285px;
    height: 285px;
    right: -6%;
    > img {
        width: 285px;
        height: 285px;
    }
    svg {
        position: absolute;
        width: 285px;
        height: 285px;
    }
}
#price {
  width: inherit;
}

.label {
  background-color: #ddd;
  padding: 5px 10px;
  margin: 4px;
  border-radius: 4px;
  display: inline-block;
  .md-icon {
    margin-right: 4px; 
  }
}


</style>
