<template>
    <div :class="small ? 'small-avatar-holder': 'avatar-holder'">
        <img :src="avatarUrl" />
    </div>
</template>
<script>
export default {
  data: () => ({
    selection: [],
    avatarUrl: null,
    options: {
      topType: [
      "NoHair",
      "Eyepatch",
      "Hat",
      "Hijab",
      "Turban",
      "WinterHat1",
      "WinterHat2",
      "WinterHat3",
      "WinterHat4",
      "LongHairBigHair",
      "LongHairBob",
      "LongHairBun",
      "LongHairCurly",
      "LongHairCurvy",
      "LongHairDreads",
      "LongHairFrida",
      "LongHairFro",
      "LongHairFroBand",
      "LongHairNotTooLong",
      "LongHairShavedSides",
      "LongHairMiaWallace",
      "LongHairStraight",
      "LongHairStraight2",
      "LongHairStraightStrand",
      "ShortHairDreads01",
      "ShortHairDreads02",
      "ShortHairFrizzle",
      "ShortHairShaggyMullet",
      "ShortHairShortCurly",
      "ShortHairShortFlat",
      "ShortHairShortRound",
      "ShortHairShortWaved",
      "ShortHairSides",
      "ShortHairTheCaesar",
      "ShortHairTheCaesarSidePart"
      ],
      skinColor: [
        "Tanned",
        "Yellow",
        "Pale",
        "Light",
        "Brown",
        "DarkBrown",
        "Black"
      ],
      mouthType: [
        "Concerned",
        "Default",
        "Disbelief",
        "Eating",
        "Grimace",
        "Sad",
        "ScreamOpen",
        "Serious",
        "Smile",
        "Tongue",
        "Twinkle",
        "Vomit",
      ],
      hairColor: [
        "Auburn",
        "Black",
        "Blonde",
        "BlondeGolden",
        "Brown",
        "BrownDark",
        "PastelPink",
        "Platinum",
        "Red",
        "SilverGray"
      ],
      graphicType: [
        "Bat",
        "Cumbia",
        "Deer",
        "Diamond",
        "Hola",
        "Pizza",
        "Resist",
        "Selena",
        "Bear",
        "SkullOutline",
        "Skull"
      ],
      facialHairType: [
        "Blank",
        "BeardMedium",
        "BeardLight",
        "BeardMagestic",
        "MoustacheFancy",
        "MoustacheMagnum"
      ],
      eyeType: [
        "Close",
        "Cry",
        "Default",
        "Dizzy",
        "EyeRoll",
        "Happy",
        "Hearts",
        "Side",
        "Squint",
        "Surprised",
        "Wink",
        "WinkWacky"
      ],
      facialHairColor:[
        "Auburn",
        "Black",
        "Blonde",
        "BlondeGolden",
        "Brown",
        "BrownDark",
        "PastelPink",
        "Platinum",
        "Red",
        "SilverGray",
      ],
      clotheColor: [
        "Black",
        "Blue01",
        "Blue02",
        "Blue03",
        "Gray01",
        "Gray02",
        "Heather",
        "PastelBlue",
        "PastelGreen",
        "PastelOrange",
        "PastelRed",
        "PastelYellow",
        "Pink",
        "Red",
        "White"
      ],
      eyebrowType: [
        "Angry",
        "AngryNatural",
        "Default",
        "DefaultNatural",
        "FlatNatural",
        "RaisedExcited",
        "RaisedExcitedNatural",
        "SadConcerned",
        "SadConcernedNatural",
        "UnibrowNatural",
        "UpDown",
        "UpDownNatural"
      ],
      accessoriesType: [
        "Blank",
        "Kurt",
        "Prescription01",
        "Prescription02",
        "Round",
        "Sunglasses",
        "Wayfarers"
      ],
      clotheType: [ 
        "BlazerShirt",
        "BlazerSweater",
        "CollarSweater",
        "GraphicShirt",
        "Hoodie",
        "Overall",
        "ShirtCrewNeck",
        "ShirtScoopNeck",
        "ShirtVNeck",
      ]
    }
  }),
  props: {
    avatarSelected: Array,
    small: Boolean
  },
  methods: {
    generateAvatar(){
      const baseUrl = 'https://avataaars.io/?avatarStyle=Circle&'
      this.selection = [];
      const params = [];
      Object.entries(this.options).forEach(([key, value], index) => {
          const val = this.randomNumber( value.length)
          this.selection.push(val)
          params.push(key+'='+ value[this.selection[index]])
        }
      );
      this.avatarUrl = baseUrl + params.join("&")
      this.$emit('avatarCreated', this.selection)
    },
    randomNumber(max) {
      return Math.floor(Math.random() * max);
    },
    currentAvatar(coord){
      const fullUrl = [];
      const baseUrl = 'https://avataaars.io/?avatarStyle=Circle&';
      Object.entries(this.options).forEach(([key, value], index) => {
          const current = coord[index]
          fullUrl.push( key + '=' + value[current])
        },
      );
      this.avatarUrl = baseUrl + fullUrl.join("&")
    }
  },
  created() {
    if(this.avatarSelected) {
      this.currentAvatar(this.avatarSelected)
    }
  },
  watch: {
    avatarSelected(newVal, oldval) {
      if(newVal != oldval && newVal) {
        this.currentAvatar(this.avatarSelected)
      }
    }
  }
}
</script>

<style lang="scss">
    .avatar-holder {
        position: absolute;
        width: 285px;
        height: 285px;
        z-index: 2;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;
        img {
          width: 110px;
          position: relative;
          right: 36px;
        }
    }
    .small-avatar-holder {
      width: 40px;
      height: 40px;
      img {
        position: relative;
        bottom: 2px;
      }
    }
</style>