<template>
<svg
   xmlns:svg="http://www.w3.org/2000/svg"
   width="211.66667mm"
   height="211.66667mm"
   viewBox="0 0 211.66667 211.66667"
   style="mix-blend-mode: multiply; opacity: 0.7;"
   id="svg8">
  <defs
     id="defs2" />
  <g
     transform="translate(0,-30.354099)"
     id="layer2">
    <path
       transform="matrix(0.26458333,0,0,0.26458333,0,30.354099)"
       d="M 308.59961 109.57617 C 249.69811 109.56834 199.11778 110.49139 175.52344 110.51758 C 32.46478 112.5404 47.28125 127.10156 47.28125 127.10156 L 44.515625 709.27148 L 44.517578 709.27148 C 89.033322 735.45235 486.37799 725.01563 525.15039 720.41602 C 563.92279 715.81637 556.39648 705.02148 556.39648 705.02148 C 556.39648 705.02148 556.91733 657.98815 556.85156 624.82227 C 556.83164 614.80047 556.06281 607.82703 559.75 604.17578 C 568.26505 595.74362 587.36362 601.85174 600.14258 606.33789 C 618.45507 612.7666 671.15134 614.81844 705.17578 600.56641 C 739.20022 586.31437 759.992 547.62322 770.60938 507.47852 C 781.22671 467.33385 777.54275 344.22318 774.98828 331.64453 C 773.60055 324.81096 765.06953 249.40958 718.05859 217.00195 C 671.04766 184.59432 592.76214 206.63373 573.87305 209.45508 C 554.98391 212.27643 558.05078 203.0332 558.05078 203.0332 C 558.05078 203.0332 558.73119 180.00891 558.06641 139.08984 C 558.35796 122.05972 560.31855 120.61296 537.38086 118.09961 C 473.8154 111.13454 384.33011 109.58624 308.59961 109.57617 z M 652.09375 237.69727 C 674.57359 238.13806 698.69698 247.72149 718.25977 271.52539 C 751.56292 312.04846 749.50322 355.98576 750.1875 393.30859 C 751.20132 448.6052 745.75159 491.34367 737.87891 506.03711 C 727.42874 525.5411 708.33084 572.41218 651.50391 572.99219 C 607.9715 573.43647 592.03576 549.93198 569.76758 522.31641 C 561.2517 511.75554 557.60217 500.49468 557.54102 488.5293 C 556.60403 305.16446 556.98242 312.88281 556.98242 312.88281 C 556.98242 312.88281 573.43859 268.59872 610.24805 248.00586 C 622.10182 241.37433 636.71281 237.39567 652.09375 237.69727 z "
       style="stroke:none;stroke-width:0.999999px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       :style="'fill:' + fill"
       id="path898" />
  </g>
</svg>

</template>
<script>
export default {
    props: {
        fill: String
    },
    watch: {
        fill(){}
    }
}
</script>