<template>
  <div id="app" class="page-container">
      <router-view />
  </div>
</template>

<style>
#app {
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.page-container, .md-app {
  min-height: 100vh;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.md-drawer {
  width: 230px !important;
  max-width: calc(100vw - 125px) !important;
}

.md-content.md-theme-default {
background-color: #f5f5f5 !important; 
}

</style>
